services:

  # =====================================================
  # DOMAIN CONTROLLER
  # =====================================================
  domain-controller:
    build:
      context: ./domain-controller
    container_name: domain-controller
    command: >
      /opt/jboss/wildfly/bin/domain.sh
      --host-config=host-master.xml
      -b 0.0.0.0
      -bmanagement 0.0.0.0
    ports:
      - "9990:9990"
      - "9999:9999"
    environment:
      NODE_NAME: domain-controller
    volumes:
      - ./domain-controller/config/host-master.xml:/opt/jboss/wildfly/domain/configuration/host-master.xml:ro
      - ./domain-controller/domain/configuration/mgmt-users.properties:/opt/jboss/wildfly/domain/configuration/mgmt-users.properties
      - ./domain-controller/domain/configuration/mgmt-groups.properties:/opt/jboss/wildfly/domain/configuration/mgmt-groups.properties
    depends_on:
      - opensearch
      - mongodb
      - graylog
      - skywalking-oap
    networks:
      - wildfly-net

  # =====================================================
  # HOST 1
  # =====================================================
  host1:
    build:
      context: ./domain-controller
    container_name: host1
    command: >
      /opt/jboss/wildfly/bin/domain.sh
      --host-config=host1.xml
      -Djboss.domain.master.address=domain-controller
      -b 0.0.0.0
      -bmanagement 0.0.0.0
    volumes:
      - ./host1/config/host1.xml:/opt/jboss/wildfly/domain/configuration/host1.xml:ro
      - ./domain-controller/domain/configuration/mgmt-users.properties:/opt/jboss/wildfly/domain/configuration/mgmt-users.properties
      - ./domain-controller/domain/configuration/mgmt-groups.properties:/opt/jboss/wildfly/domain/configuration/mgmt-groups.properties
    environment:
      NODE_NAME: host1
      JAVA_OPTS: >
        -Dskywalking.agent.service_name=teste
        -Dskywalking.collector.backend_service=skywalking-oap:11800
        -Djava.util.logging.manager=org.jboss.logmanager.LogManager
    depends_on:
      - domain-controller
      - skywalking-oap
    networks:
      - wildfly-net

  # =====================================================
  # HOST 2
  # =====================================================
  host2:
    build:
      context: ./domain-controller
    container_name: host2
    command: >
      /opt/jboss/wildfly/bin/domain.sh
      --host-config=host2.xml
      -Djboss.domain.master.address=domain-controller
      -b 0.0.0.0
      -bmanagement 0.0.0.0
    volumes:
      - ./host2/config/host2.xml:/opt/jboss/wildfly/domain/configuration/host2.xml:ro
    environment:
      NODE_NAME: host2
      JAVA_OPTS: >
        -Dskywalking.agent.service_name=server-two
        -Dskywalking.collector.backend_service=skywalking-oap:11800
        -Djava.util.logging.manager=org.jboss.logmanager.LogManager
    depends_on:
      - domain-controller
      - skywalking-oap
    networks:
      - wildfly-net

  # =====================================================
  # NGINX LOAD BALANCER
  # =====================================================
  nginx:
    image: nginx:alpine
    container_name: nginx-lb
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - host1
      - host2
    networks:
      - wildfly-net

  # =====================================================
  # OPENSEARCH (Storage unificado)
  # =====================================================
  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: opensearch
    environment:
      plugins.security.disabled: "true"
      discovery.type: single-node
      OPENSEARCH_JAVA_OPTS: "-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - ./opensearch/data:/usr/share/opensearch/data
    networks:
      - wildfly-net

  # =====================================================
  # MONGODB (Graylog metadata)
  # =====================================================
  mongodb:
    image: mongo:noble
    container_name: mongodb
    volumes:
      - ./mongodb/data:/data/db
    networks:
      - wildfly-net

  # =====================================================
  # GRAYLOG
  # =====================================================
  graylog:
    image: graylog/graylog:6.2.12-1
    container_name: graylog
    environment:
      GRAYLOG_PASSWORD_SECRET: soa23e0597b418c6fd
      GRAYLOG_ROOT_PASSWORD_SHA2: e86f78a8a3caf0b60d8e74e5942aa6d86dc150cd3c03338aef25b7d2d7e3acc7
      GRAYLOG_HTTP_EXTERNAL_URI: http://localhost:9000/
      GRAYLOG_ELASTICSEARCH_HOSTS: http://opensearch:9200
      GRAYLOG_MONGODB_URI: mongodb://mongodb:27017/graylog
      TZ: America/Sao_Paulo
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    depends_on:
      - opensearch
      - mongodb
    networks:
      - wildfly-net

  # =====================================================
  # SKYWALKING OAP (usando OpenSearch)
  # =====================================================
  skywalking-oap:
    image: apache/skywalking-oap-server:latest
    environment:
     SW_STORAGE: elasticsearch
     SW_STORAGE_ES_CLUSTER_NODES: opensearch:9200
     SW_STORAGE_ES_INDEX_SHARDS_NUMBER: "1"
     SW_STORAGE_ES_INDEX_REPLICAS_NUMBER: "0"
     SW_STORAGE_ES_BULK_ACTIONS: "1000"
     SW_STORAGE_ES_ENABLE_SSL: "false"
    ports:
      - "11800:11800"
      - "12800:12800"
    depends_on:
      - opensearch
    networks:
      - wildfly-net

  # =====================================================
  # SKYWALKING UI
  # =====================================================
  skywalking-ui:
    image: apache/skywalking-ui:latest
    container_name: skywalking-ui
    environment:
      SW_OAP_ADDRESS: http://skywalking-oap:12800
    ports:
      - "8088:8080"
    depends_on:
      - skywalking-oap
    networks:
      - wildfly-net

networks:
  wildfly-net:
    driver: bridge
